@import 'https://fonts.googleapis.com/css?family=Shrikhand|Yantramanav';

* {
    font-family: 'Shrikhand'
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: lighter;
}

h2 {
    font-weight: lighter;
}

.NBAbanner {
    height: 33vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url(./images/basketball-rims-header.jpg);
    background-size: cover;
}

/*#decor1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-inline-size: 5%;
}
*/

.mainContainer {
    /* margin-left: 15%;
    margin-top: 3%; */
    background-color: midnightblue;
    width: 100%;
    height: 60vh;
    border-radius: 20%;
    justify-content: center;
    text-align: center;
}


#questionTitle {
    padding-top: 25px;
    color: white;
}


.answerButtons {
    display: grid;
    grid-template-columns: repeat(2,auto);
    color:aliceblue;
    margin: 5% 5% 5% 20%;
    gap: 60px;
}

#option1 {
    font-size: x-large;
    margin-right: 50px;
}

#option2 {
    font-size: x-large;
    margin-right: 50px;
}

#option3 {
    font-size: x-large;
    margin-right: 50px;
}

#option4 {
    font-size: x-large;
    margin-right: 50px;
}

.answerBtn {
    background-color: aliceblue;
    color: black;
    font-weight: lighter;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
}

.answerBtn:hover {
    background-color: greenyellow;
}

#go {
    margin-top: 6vh;
    margin-left: 3vh;
    font-size: x-large;
}

#reset {
    font-size: x-large;

}

#go:hover {
    background-color: green;
}

#reset:hover {
    background-color: green;
}

.timer {
    text-align: center;
    color: darkblue;
}


#timeLeft {
    color: crimson;
}

.hide {
    display: none;
}

#scoreBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

